body {
  background-color: #fafafa;
}
h1 {
  color: #b133e8;
  font-size: 30px;
}

p {
  color: #dd00ff;
  font-size: 20px;
}
.box {
  background-color: #3498db;
  color: white;
  padding: 16px;
  margin-bottom: 8px;
}
.card {
  border: 1px solid #02ff20;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 16px;
}
